* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", Verdana, sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 1rem;
}


h1,
h2,
h3 {
    font-family: "DM Serif Display", Georgia, serif;
    font-weight: 400;
    margin: 0;
}

p {
    margin: 0;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
    color: hsl(270, 9%, 17%);
}

hr {
    margin: 0;
}


/* HELPERS */

.relative {
    position: relative;
}

.flex {
    display: flex;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* CONTAINERS */

.container {
    width: 100%;
    padding: 7% 10%;
}

.container--header {
    padding-top: 3%;
    padding-bottom: 3%;
}

.container--features {
    padding-top: 25%;
}

/* BUTTONS */

.button {
    padding: .5em 2em;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    transition: all .2s;
}

.button--dark {
    border: 1px solid hsl(270, 9%, 17%);
    color: hsl(270, 9%, 17%);
}

.button--dark:hover {
    color:hsl(0, 0%, 98%);
    background-color:  hsl(270, 9%, 17%);
}

.button--light {
    color:  hsl(0, 0%, 98%);
    border: 1px solid  hsl(0, 0%, 98%);
}

.button--light:hover {
    color:hsl(270, 9%, 17%);
    background-color: hsl(0, 0%, 98%);
}


/* HEADINGS */

.heading--big {
    font-size: clamp(3rem, 4vw, 4rem);
    line-height: 1;
}


/* SITE HEADER */


/* FIXED HEADER ON SCROLL WITH ANIMATION */


/* .site-header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.3);
    z-index: 3;
    animation: slidein .4s;
} */


/* ======================================= */

.site-header.clone {
    position: fixed;
    left: 0;
    right: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-100%);
    background-color: #fff;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.3);
    z-index: 9999;
    transition: all .2s ease-in;
}

.site-header.clone.show {
    opacity: 1;
    transform: translateY(0);
    max-height: 500px;
    overflow: visible;
}

.nav-item--header {
    margin-right: 1em;
    display: inline-block;
    color: hsl(216, 30%, 68%);
    text-transform: uppercase;
    font-weight: 700;
}

.nav-item--header:hover {
    color:  hsl(270, 9%, 17%);
}

.nav-mobile-toggle {
    appearance: none;
    /* display: none; */
    cursor: default;
    opacity: 0;
    width: 32px;
    height: 32px;
    background-image: url("images/icon-hamburger.svg");
    background-repeat: no-repeat;
    transition: opacity .2s;
}



/* INTRO */


.intro__picture {
    position: absolute;
    top: calc(5% + 6px);
    right: 7%;
    z-index: 1;
    transition: all .2s;
}


.intro {
    background-color: hsl(256, 26%, 20%);
    color:hsl(0, 0%, 98%);
    position: relative;
    overflow: hidden;
}

.intro::after {
    content: "";
    background-image: url("images/bg-pattern-intro-right-desktop.svg");
    background-repeat: no-repeat;
    position: absolute;
    right:0;
    top: -20%;
    width: 436px; 
    height: 593px;
    z-index: 2;
}

.intro__cta {
    max-width: 45%;
    display: inline-block;
}

.line--short {
    margin-bottom: 3em;
    width: 15%;
}

.intro__line--short {
    border-color: hsl(0, 0%, 98%);
}

.intro__comment {
    letter-spacing: 1px;
    margin: 2em 0;
}




/* FEATURES */

.features::before {
    content: "";
    background-image: url("images/bg-pattern-intro-left-desktop.svg");
    background-repeat: no-repeat;
    position: absolute;
    left:0;
    top: -25%;
    width: 195px; 
    height: 504px;
}

.features__line--short {
    border-color: hsl(216, 30%, 68%);
}

.features__heading {
    color: hsl(270, 9%, 17%);
}

.features__list {
    margin-top: 4em;
}

.features__feature {
    flex: auto;
}

.feature__heading {
    margin: 1em 0;
}

/* ABOUT */

.about__text {
    background-color: hsl(256, 26%, 20%);
    background-image: url("images/bg-pattern-how-we-work-desktop.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding: 4em;
}

.about__heading {
    color: hsl(0, 0%, 98%);
    font-size: clamp(2rem, 3vw, 3rem);
    line-height: 1;
    max-width: 50%;
}




/* FOOTER */

footer {
    background-color:hsl(0, 0%, 98%);
    background-image: url("images/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
    background-position: left top;
}

.footer__line--long {
    margin: 2em 0 3em;
}

.social-links a {
    display: inline-block;
    margin-right: 1em;
}

.social-links__icon:hover {
    fill:hsl(270, 9%, 17%);
}


.nav--footer__list {
    flex: auto;
}

.nav--footer__list li {
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 700;
}

.nav--footer__list li:first-child {
    margin-bottom: 2em;
    color: hsl(216, 30%, 68%);
}


.nav--footer__list li:hover > a {
    text-decoration: underline;
}

.attribution { 
    margin: 5em 0;
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}









@media screen and (max-width: 1200px)  {

    .nav-mobile-toggle {
        opacity: 1;
    }

    .nav--header {
        opacity: 0;
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 15% 0;
        left: 0;
        top: 100%;
        z-index: 3;
        background-color: hsl(270, 9%, 17%);
        background-image: url("images/bg-pattern-mobile-nav.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        background-blend-mode: overlay;
        transition: opacity .2s cubic-bezier(0.950, 0.050, 0.795, 0.035);
        
    }
    
    .nav-mobile-toggle:checked + .nav--header {
        opacity: 1;
    }
    
    .nav-mobile-toggle:checked {
        background-image: url("images/icon-close.svg");
    }

    .nav-item--header {
        display: block;
        margin: 0 auto 1.8em;
        max-width: 50%;
        min-height: 30px;
        color: hsl(0, 0%, 98%);
    }

    .header__button {
        color:hsl(0, 0%, 98%);
        border-color:hsl(0, 0%, 98%);
        display: block;
        width: 60%;
        margin: 0 auto;
    }

    .heading--big {
        text-align: center;
    }

    .intro__line--short {
        display: none;
    }

    .intro::after {
        background-image: url("images/bg-pattern-intro-right-mobile.svg");
        width: 124px; 
        height: 330px;
        top: 70%;
    }

    .features::before {
        background-image: url("images/bg-pattern-intro-left-mobile.svg");
        width: 168px;
        height: 165px;
        top: -48%;
    }

    .intro__cta {
        max-width: 100%;
        padding: 5em 0;
        text-align: center;
    }

    .intro__picture {
        position: relative;
        display: block;
        top: 0;
        right: 0;
        z-index: 2;
        height: 451px;
    }

    .intro__picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 30%;
    }

    .container--features {
        padding-top: 2em;
    }

    .features__line--short {
        width: 50%;
        margin: 2em auto 3em;
    }

    .features__list {
        flex-direction: column;
    }

    .features__feature {
        text-align: center;
        margin-bottom: 3em;
    }

    .about__text {
        flex-direction: column;
        padding: 4em 2em;
        text-align: center;
        background-image: url("images/bg-pattern-how-we-work-mobile.svg");
    }

    .about__heading {
        max-width: 100%;
        font-size: 2rem;
        margin-bottom: 1em;
    }

    .footer__top {
        flex-direction: column;
        margin-top: 2em;
    }

    .social-links {
        margin-top: 2em;
    }

    .footer__line--long {
        margin: 2em 0 1em;
    }

    .nav--footer {
        flex-direction: column;
    }

    .nav--footer__list {
        text-align: center;
    }

    .nav--footer__list li:first-child {
        margin-top: 2em;
    }
    
}

@media screen and (max-width: 1200px) and (orientation: landscape) {


    .nav--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5% 0;
    }

    .nav-item--header {
        margin-bottom: 0;
    }

    .header__button {
        max-width: 200px;
    }

    .intro__picture {
        height: 650px;
    }

    .intro__picture img {
        object-position: center 10%;
    }
}